 /* Full credit to code.org for task */
  
p {
  color: black;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
  width: 200px;
  height: 200px; 
 }

body{
  background-color: lightblue;
  text-align: center;
}
hr{
  border-color: #468bc8;
}
#elephant{
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hippo{
  color: #978763;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#flamingo{
  color: #c99ca4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#panda{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#penguin{
  color: whitesmoke;
  font-family: cursive;
}

#emp_text{
  color:white;
}

.banner{
  border: 3px solid #233c76;
  box-shadow: 1px 3px 10px 1px #657395;
  outline-offset: 1px;
  outline: groove 2px #4d5e84 ;
  overflow: hidden;
  text-align: center;
  background-color: whitesmoke;
  background-image: url(https://thumbs.dreamstime.com/b/clouds-blue-sky-light-31912398.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#top1{
  border: 1px solid black;
  background-image: linear-gradient(#cfbfbf, white,#cfbfbf);
  box-shadow: 1px 3px 10px 1px #657395;
  overflow:hidden;
}

#top1{
  transition: 2s;
}
#top1:hover{
  height: 400px;
  z-index: 1px;
}

#top2{
  border: 1px solid black;
  background-image: linear-gradient( #caca9b, #f7f7cf, #caca9b);
  box-shadow: 1px 3px 10px 1px #657395;
  overflow:hidden;
}

#top2{
  transition: 2s;
}
#top2:hover{
  height: 400px;
  z-index: 1px;
}

#top3{
  border: 1px solid black;
  background-image: linear-gradient(#ffd1d1, #f5d6db, #ecc5c5);
  box-shadow: 1px 3px 10px 1px #657395;
  overflow:hidden;
}
#top3{
  transition: 2s;
}
#top3:hover{
  height: 400px;
  z-index: 1px;
}

#top4{
  border: 1px solid black;
  background-image: linear-gradient(#ffffff, whitesmoke, #ffffff);
  box-shadow: 1px 3px 10px 1px #657395;
  overflow:hidden;
}
#top4{
  transition: 2s;
}
#topleft4:hover{
  height: 400px;
  z-index: 1px;
}

#top5{
  border: 1px solid white;
  background-color: #000000;
  box-shadow: 1px 3px 10px 1px #657395;
  overflow:hidden;
}
#top5{
  transition: 2s;
}
#top5:hover{
  height: 400px;
  z-index: 1px;
}
.container{
  position: absolte;
  border: 3px solid #233c76;
  box-shadow: 1px 3px 10px 1px #4c639a;
  outline-offset: 1px;
  outline: groove 2px #4d5e84 ;
  background-color: white;
  height: 1000px;
  overflow: hidden;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/95/Giraffe_enclosure%2C_ZOO_Jihlava.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.wave{
  border: 1px solid #233c76;
  text-align: center;
  background-color: white;
  font-size: 0.9em;
  height: 50px;
  overflow: hidden;
  width: 80%;
  position:relative;
  left: 10%;
  transition: height 4s;
  display:block;
  }
}